.gp-addfield-tr td {padding-top: 36px !important;}
.gp-addfield-tr td select {padding-left: 120px;}
.gp-addfield-tr td button i {margin-right: 4px;}

.gestionparc-table .gestionparc-newline {display: none;}
.gestionparc-table tbody tr.gestionparc-line td .gp-infos-label {display: none;}

.gestionparc-table tbody tr.gestionparc-line td a.parclink {color: rgb(204, 204, 204);}
.gestionparc-table tbody tr.gestionparc-line td a.parclink:hover {color: #6c6aa8;}
.gestionparc-table tbody tr.gestionparc-line td a.parclink.gp-trash:hover {color: #fb2a52;}


.gp-eye-icon i {color: rgba(120, 120, 120, 1);cursor: pointer;font-size: 15px;}
.gp-eye-icon i:hover {color: rgba(99, 99, 99, 1);}
.gp-parc-hidden {display: none;}
.gp-parc-empty {display: none;}
.gp-parc-empty.gp-parc-visible {display: block;}

.gestionparc-verifall {margin-bottom: 16px;background: #f5f5f5;padding: 8px;}
.gestionparc-verifall .veriftxt {vertical-align: middle;display: inline-block;margin-top: -16px;margin-left: 6px;}

#gpform-addfieldtype {}
#gpform-addfieldtype .select2.select2-container {border: 1px solid #ccc;padding: 4px;min-width: 320px;}
#gpform-addfieldtype .select2-container--default .select2-selection--single {border: none !important;}
#gpform-addfieldtype .select2-container--focus span.select2-selection.select2-selection--single {border: none !important;}
#gpform-addfieldtype .select2-container .select2-selection--single .select2-selection__rendered {padding-right: 28px;}
#gpform-addfieldtype .select2-container--default .select2-selection--single .select2-selection__arrow b {margin-top: 2px;margin-left: -8px;}
#gpform-addfieldtype button {padding: 12px;margin-left: 6px;cursor: pointer;}

@media screen and (max-width: 882px){

    .gestionparc-table tbody tr.dolpgs-thead {display: none;}
    .dolpgs-table.gestionparc-table tbody tr.dolpgs-tbody {padding: 0 !important;margin-bottom: 24px;}
    .dolpgs-table.gestionparc-table tbody tr.dolpgs-tbody:last-child td {border-bottom: 1px solid #ccc !important;}
    .dolpgs-table.gestionparc-table tbody tr.dolpgs-tbody:last-child td:last-child {border-bottom: none !important;}

    .gestionparc-table tbody tr.gestionparc-line {
        display: flex; flex-direction: column;width: 99%; box-sizing: border-box;
    }
    .gestionparc-table tbody tr.gestionparc-line td .gp-infos-label {display: inline;font-weight: 500;color: rgb(38,60,92);}
    .gestionparc-table tbody tr.gestionparc-line td:last-child {width: 100%;box-sizing: border-box;background: rgb(38,60,92);flex-basis: 100%;border-bottom: none !important;}
    .gestionparc-table tbody tr.gestionparc-line td a.parclink {color: #fff !important;}
    .gestionparc-table tbody tr.gestionparc-line td a.parclink:hover {color: #6c6aa8 !important;}
}

/***********************************/
/***********************************/
/* Anchor point for smooth scrolling */
#parc-content {
    position: relative;
    top: -100px;
    display: block;
    height: 0;
    visibility: hidden;
}

:root {
    --gp-text-color: rgb(63, 67, 71);
    --gp-text-color-lighter: rgba(63, 67, 71, .85);
    --gp-error-color: #fb2a52;
    --gp-border-color: rgb(226, 232, 240);
    --gp-border-color-zero: rgb(226, 232, 240, 0);
}

/* Dialogs */
.mod-gestionparc .ui-widget-overlay {/*background: #fff;*/opacity: 0.5;}
.mod-gestionparc .ui-dialog.ui-widget-content {padding:0;color: #3f4347;border-radius: 8px; border: 1px solid var(--gp-border-color);box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(148, 163, 184, 0.1) 0px 20px 25px -5px, rgba(148, 163, 184, 0.1) 0px 8px 10px -6px;}
.mod-gestionparc .ui-dialog .ui-widget-header {background: rgba(226, 232, 240, .25);border: none;border-radius: 8px 8px 0 0;border-bottom: 1px solid rgb(226, 232, 240)}
.mod-gestionparc .ui-dialog .ui-dialog-title {font-size: 1.15em;padding: 8px 0;}
.mod-gestionparc .ui-dialog .ui-dialog-titlebar-close {border: none;background: transparent;right: 0.7em;}
.mod-gestionparc .ui-dialog .ui-dialog-buttonpane {border: none;}
.mod-gestionparc .ui-dialog .park-dialog-label {display: block;font-weight: 500;text-decoration: underline;margin-bottom: 6px;}

/* Add button */
.mod-gestionparc #park-add-item a {width:48px;height:48px;background:var(--butactionbg);border-radius:48px;position:fixed;bottom:36px;right:36px;z-index:24;color:#fff;text-align:center;line-height:48px;}
.mod-gestionparc #park-add-item a:hover {background:#3f4347;}

/**/
.mod-gestionparc .btnTitle, .mod-gestionparc a.btnTitle {min-width: auto; font-size: 1.2em;padding: 6px;color:#afafaf;margin-left: 4px;}
.mod-gestionparc a.btnTitle:hover {color:var(--gp-text-color-lighter);border: none;}
.mod-gestionparc .btnTitle.btnTitleSelected, .mod-gestionparc a.btnTitle.btnTitleSelected {color: var(--gp-text-color);border: none;}

/**/
.mod-gestionparc .select-wrapper {border: 1px solid rgb(226, 232, 240);border-radius: 4px; padding: 8px 8px 8px 12px;margin-top:6px;display: flex;align-items: center;gap: 8px;}
.mod-gestionparc .select-wrapper .placeholder {font-weight: 500;color:#ababab;}
.mod-gestionparc .select-wrapper:has(.select2-selection__rendered .placeholder) .filter-icon {color: #ccc;}
.mod-gestionparc .select-wrapper:has(> .select2-container--focus),
.mod-gestionparc .select-wrapper:has(> .select2-container--open) {border: 1px solid rgba(226, 232, 240, .65)}
.mod-gestionparc .select-wrapper .select2-container--default .select2-selection--single {border: none !important;}
.mod-gestionparc .select-wrapper .select2-container--focus span.selection span.select2-selection {border-bottom: none !important;}
.mod-gestionparc .select-wrapper .select2-container--focus span.selection span.select2-selection .select2-selection__rendered {color:var(--aaa) !important;}
.mod-gestionparc .select-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {color:var(--aaa) !important;font-weight: 500;}
.mod-gestionparc .select-wrapper .input-flex-1 {flex:1;}
.mod-gestionparc .select-wrapper .select2 {flex:1;}


.mod-gestionparc input[type=text] {width:100%;border: 1px solid rgb(226, 232, 240);border-radius: 4px; padding: 13px;margin-top:6px;box-sizing: border-box;font-family: 'Roboto', sans-serif;font-weight: 500;color:#ababab;}
.mod-gestionparc input[type=number] {width:100%;border: 1px solid rgb(226, 232, 240);border-radius: 4px; padding: 13px;margin-top:6px;box-sizing: border-box;font-family: 'Roboto', sans-serif;font-weight: 500;color:#ababab;}


.action-progress-bar {background:#ccc;height:2px;position:absolute;top:100%;left:0;width:0;}
.action-progress-bar.progress-info {background:var(--colortextlink);}
.action-progress-bar.progress-danger {background:var(--gp-error-color);}



/* Parc Item */
.park-item-wrapper {display: flex;gap:32px;flex-wrap: wrap;color: rgba(50, 54, 58, 1);margin: 24px 0;transition: all .8s ease-in-out}
.park-item-wrapper .park-item {position: relative;background: #fff;color: #3f4347;box-sizing: border-box; border-radius: 8px; border: 1px solid var(--gp-border-color);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(148, 163, 184, 0.1) 0px 20px 25px -5px, rgba(148, 163, 184, 0.1) 0px 8px 10px -6px;
    width: calc((100% / 6) - 32px + (32px / 6));
}
.park-item-wrapper .park-item.verified {border: 1px solid #25a580;}
.park-item-wrapper .park-item.unverified {border: 1px solid #bc9526;}
.park-item-wrapper .park-item.editing {border: 1px solid var(--gp-text-color);}
.park-item-wrapper .park-item.action-error {border: 1px solid var(--gp-error-color);}
.park-item-wrapper .park-item.selected {box-sizing: border-box;border: 2px solid var(--colortextlink);}

.park-item-wrapper .park-placeholder {border: 2px dashed #aaaabb; background:#fefefe;width: 120px;min-height:200px;box-sizing: border-box;border-radius: 8px;}

.park-item-wrapper .park-item .park-item-header {display:flex;justify-content: space-between;padding: 12px 16px;background: rgba(226, 232, 240, .25);text-align: left;color:rgba(0, 0, 0, 0.5);font-size: 0.95em;font-weight: 500;border-bottom: 1px solid rgb(226, 232, 240);position: relative;}

/*.park-item-wrapper .park-item .park-item-header .park-item-actions .item-action {color: #aaaabb;margin-left: 6px;cursor: pointer;}
.park-item-wrapper .park-item .park-item-header .park-item-actions .item-action:hover {color: #3f4347;}
.park-item-wrapper .park-item .park-item-header .park-item-actions .item-action.action-delete:hover {color: var(--gp-error-color);}*/

.park-item-wrapper .park-item .park-item-header .park-item-actions .item-action.action-cancel {cursor: pointer;}

.park-item-wrapper .park-item .park-item-header .park-item-actions {position: relative;min-width:20px;text-align: right;}
.park-item-wrapper .park-item .park-item-header .park-item-actions .park-submenu-actions {position: absolute;display:none;right:-16px;top:calc(100% + 12px);z-index: 99;background: #fff;margin: 0;list-style: none;border: 1px solid var(--gp-border-color); box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(148, 163, 184, 0.1) 0px 20px 25px -5px, rgba(148, 163, 184, 0.1) 0px 8px 10px -6px;padding: 12px 20px;}
.park-item-wrapper .park-item .park-item-header .park-item-actions .park-submenu-actions:after,
.park-item-wrapper .park-item .park-item-header .park-item-actions .park-submenu-actions:before {bottom: 100%;right:10px;border: solid transparent;content: "";height: 0;width: 0;position: absolute;pointer-events: none;}
.park-item-wrapper .park-item .park-item-header .park-item-actions .park-submenu-actions:after {border-color: rgba(255, 255, 255, 0);border-bottom-color: #fff;border-width: 8px;margin-left: -8px;}
.park-item-wrapper .park-item .park-item-header .park-item-actions .park-submenu-actions:before {border-color: var(--gp-border-color-zero);border-bottom-color: var(--gp-border-color);border-width: 10px;margin-right: -2px;}

.park-item-wrapper .park-item .park-item-header .park-item-actions .park-submenu-actions li {padding: 0;font-size: 0.95em;text-align: left;}
.park-item-wrapper .park-item .park-item-header .park-item-actions .park-submenu-actions li:last-child {padding: 0;border-bottom: none;}
.park-item-wrapper .park-item .park-item-header .park-item-actions .park-submenu-actions li.separator {padding: 0;border-bottom: 1px solid var(--gp-border-color);height: 0;padding: 0; margin: 6px 0;}
.park-item-wrapper .park-item .park-item-header .park-item-actions .park-submenu-actions li a {display: block;padding: 8px 12px;margin: 0 -12px;color: var(--gp-text-color-lighter);text-decoration: none;white-space: nowrap;border-radius: 4px;transition: background 0.2s ease;}
.park-item-wrapper .park-item .park-item-header .park-item-actions .park-submenu-actions li a:hover {color: var(--gp-text-color);background: rgba(226, 232, 240, 0.3);}
.park-item-wrapper .park-item .park-item-header .park-item-actions .park-submenu-actions li a.action-delete {color: var(--gp-error-color);}
.park-item-wrapper .park-item .park-item-header .park-item-actions .park-submenu-actions li a.action-delete:hover {background: rgba(251, 42, 82, 0.1);}


.park-item-wrapper .park-item .park-item-header .park-item-actions .icon-submenu {cursor: pointer; padding: 8px; margin: -8px;}
.park-item-wrapper .park-item .park-item-header .park-item-actions .icon-submenu:hover {color: var(--colortextlink);}
.park-item-wrapper .park-item .park-item-header.menu-open .park-item-actions .icon-submenu {color: var(--colortextlink);}
.park-item-wrapper .park-item .park-item-header.menu-open .park-item-actions .park-submenu-actions {display: block;}

.park-item-wrapper .park-item .park-item-content {padding: 16px;}
.park-item-wrapper .park-item .park-item-content .park-field {font-size: 0.95em;margin-bottom: 12px;}
.park-item-wrapper .park-item .park-item-content .park-field .park-field-label {font-weight: 500;}
.park-item-wrapper .park-item .park-item-content .park-field .park-field-value {color: var(--gp-text-color-lighter);}

.park-item-wrapper .park-item .button-sets {display: flex;gap:16px;margin-top: 24px;}
.park-item-wrapper .park-item .button-sets .button-edit {flex:1;padding:8px;text-align:center;border-radius:4px;font-size:0.85em;text-transform:uppercase;font-weight:500;display: block;border: none; outline: none;background: transparent;}
.park-item-wrapper .park-item .button-sets .button-edit.button-cancel {background: var(--gp-error-color);color: #fff;}
.park-item-wrapper .park-item .button-sets .button-edit.button-valid {background: #25a580;color: #fff;}
.park-item-wrapper .park-item .button-verify {padding:8px;text-align:center;border-radius:4px;font-size:0.85em;text-transform:uppercase;font-weight:500;display: block;}
.park-item-wrapper .park-item .button-verify.verified {background:rgba(40, 167, 69, 0.2);color:#28a745;}
.park-item-wrapper .park-item .button-verify.unverified {background:#bc9526; color:#fff;}
.park-item-wrapper .park-item .button-verify.unverified:hover {text-decoration: none;background:#3f4347;}

.park-item-wrapper .park-item .grabbable {cursor: move; cursor: grab; cursor: -moz-grab; cursor: -webkit-grab;}
.park-item-wrapper .park-item .grabbable:active {cursor: grabbing;cursor: -moz-grabbing;cursor: -webkit-grabbing;}


@media screen and (max-width: 799px){
    .park-item-wrapper {gap:16px 0;}
    .park-item-wrapper .park-item {width: 100%;}
    .park-item-wrapper .park-item .park-item-header {border-bottom: none;padding: 16px 20px;font-size: 1em;font-weight: 500;}
    .park-item-wrapper .park-item .park-item-content {display: none;}

    .park-item-wrapper .park-item.item-open .park-item-content {display: block;}
    .park-item-wrapper .park-item.item-open .park-item-header {border-bottom: 1px solid rgb(226, 232, 240);}

    .park-item-wrapper .park-placeholder {width: 100%;min-height:64px;}

}

@media screen and (min-width: 800px) and (max-width: 1029px){
    .park-item-wrapper {gap:32px;}
    .park-item-wrapper .park-item {width: calc((100% / 2) - 32px + (32px / 2));}
}
@media screen and (min-width: 1030px) and (max-width: 1269px){
    .park-item-wrapper {gap:32px;}
    .park-item-wrapper .park-item {width: calc((100% / 3) - 32px + (32px / 3));}
}
@media screen and (min-width: 1270px) and (max-width: 1499px){
    .park-item-wrapper {gap:32px;}
    .park-item-wrapper .park-item {width: calc((100% / 4) - 32px + (32px / 4));}
}
@media screen and (min-width: 1500px) and (max-width: 1729px){
    .park-item-wrapper {gap:32px;}
    .park-item-wrapper .park-item {width: calc((100% / 5) - 32px + (32px / 5));}
}




